library {
    padding: 10px;
    font-size: 14px;
}
book,part, chapter, section {
    border: 1px solid grey;
    padding: 10px;
    border-radius: 3px;
    background-color: white;
    display: block;
}
* {
    margin-bottom: 10px;
    display: block
}
