<div class="p-5 bg-dark vh-100">
  <div class="container">
    <mat-card class="bg-light d-flex justify-content-between align-items-center mb-5">
      <div>
        <span class="fw-bold display-6 me-4">Search Products</span>
        <mat-form-field class="m-0" appearance="outline">
          <mat-label>Filter By</mat-label>
          <input (keyup)="filterData()" matInput type="text" [(ngModel)]="searchValue">
          <button *ngIf="searchValue" matSuffix mat-icon-button aria-label="Clear" (click)="searchValue=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>

      </div>
      <button (click)="openCreateProductDialog(dummyProduct)" mat-raised-button color="primary">
        <mat-icon>add</mat-icon>
        Add New Product
      </button>
    </mat-card>
    <mat-card>
      <div class="mat-elevation-z0"></div>
      <table class="w-100" mat-table [dataSource]="dataSource">
        <!-- image Column -->
        <ng-container matColumnDef="image">
          <th mat-header-cell *matHeaderCellDef>Image</th>
          <td mat-cell *matCellDef="let element">
            <button (click)="openImageDialog(element.image)" mat-raised-button color="accent">Show Image</button>
          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name</th>
          <td mat-cell *matCellDef="let element"> {{element.name | titlecase}} </td>
        </ng-container>

        <!-- code Column -->
        <ng-container matColumnDef="code">
          <th mat-header-cell *matHeaderCellDef> Code</th>
          <td mat-cell *matCellDef="let element"> {{element.code | slugToTitle}} </td>
        </ng-container>

        <!-- available Column -->
        <ng-container matColumnDef="available">
          <th mat-header-cell *matHeaderCellDef> Available</th>
          <td mat-cell *matCellDef="let element"> {{element.available | date:'yyyy-MM-dd'}} </td>
        </ng-container>

        <!-- price Column -->
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef> Currency</th>
          <td mat-cell *matCellDef="let element"> {{element.price | currency}} </td>
        </ng-container>

        <!-- rating Column -->
        <ng-container matColumnDef="rating">
          <th mat-header-cell *matHeaderCellDef> Rating</th>
          <td mat-cell *matCellDef="let element">
            <mat-icon *ngFor="let rating of fakeArray(element.rating)">star</mat-icon>
          </td>
        </ng-container>

        <!-- actions Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions</th>
          <td mat-cell *matCellDef="let element">
<!--            <button mat-raised-button color="primary"><mat-icon>visibility</mat-icon>View</button>-->
            <button mat-raised-button (click)="openCreateProductDialog(element)" class="me-2" color="accent"><mat-icon>edit</mat-icon>Edit</button>
            <button mat-raised-button color="warn" (click)="openDeleteConfirmDialog(element)"><mat-icon>delete</mat-icon>Delete</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <div class="text-center alert alert-warning p-5 m-5" *ngIf="products.length === 0">
        No products added
      </div>
    </mat-card>
  </div>
</div>
