<h2 mat-dialog-title>{{product.id === 0 ? 'Add a new product' : 'Update product'}}</h2>
<div mat-dialog-content>

  <mat-form-field appearance="outline" class="w-100">
    <mat-label>Name</mat-label>
    <input matInput type="text" [(ngModel)]="product.name">
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-100">
    <mat-label>Image Url</mat-label>
    <input matInput type="text" [(ngModel)]="product.image">
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-100 mb-2">
    <mat-label>Availability Date</mat-label>
    <input matInput [matDatepicker]="picker" type="text" [(ngModel)]="product.available">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-100">
    <mat-label>Price</mat-label>
    <input matInput type="text" [(ngModel)]="product.price">
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-100">
    <mat-label>Rating</mat-label>
    <input matInput type="text" [(ngModel)]="product.rating">
  </mat-form-field>
  <div class="d-flex justify-content-center">
    <button [disabled]="isDisabled()" [mat-dialog-close]="product" mat-raised-button color="primary">
      <mat-icon>{{product.id === 0 ? 'add':'check'}}</mat-icon>
      {{product.id === 0 ? 'Add' : 'Update'}}
    </button>
  </div>
</div>
