<h2 class="mb-2">Departments</h2>
<form class="row mb-2 row-cols-lg-auto g-3 align-items-center">
  <div class="col-12">
    <label class="visually-hidden" for="department_name">Name</label>
    <input [(ngModel)]="name" type="text" name="department_name" class="form-control" id="department_name" placeholder="Name">
  </div>

  <div class="col-12">
    <label class="visually-hidden" for="department_location">Location</label>
    <input [(ngModel)]="location" type="text" name="department_location" class="form-control" id="department_location" placeholder="Location">
  </div>
  <div class="col-12">
    <button (click)="submit($event)" type="submit" class="btn btn-primary">Add</button>
  </div>
</form>
<div class="p-4" *ngIf="showDetails">
  <div class="alert alert-info">
    <div class="d-flex align-items-center">
      <span>ID: </span>
      <span>{{departmentDetails.id}}</span>
    </div>
    <div class="d-flex align-items-center">
      <span>Name: </span>
      <span>{{departmentDetails.name | titlecase}}</span>
    </div>
    <div class="d-flex align-items-center">
      <span>Location: </span>
      <span>{{departmentDetails.location}}</span>
    </div>
    <button (click)="hideDetails()" class="btn btn-warning">Hide</button>
  </div>
</div>
<table class="table">
  <thead>
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Name</th>
    <th scope="col">Location</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let department of departments">
    <ng-container *ngIf="!department.isEditing">
      <td>{{department.id}}</td>
      <td>{{department.name | titlecase}}</td>
      <td>{{department.location}}</td>
      <td>
        <button (click)="details(department)" class="btn btn-outline-info">Details</button>
        <button (click)="edit(department)" class="btn btn-outline-success mx-2">Edit</button>
        <button (click)="remove(department)" class="btn btn-outline-danger">Delete</button>
      </td>
    </ng-container>
    <ng-container *ngIf="department.isEditing">
      <td>{{department.id}}</td>
      <td>
        <div class="col-12">
          <label class="visually-hidden" [for]="'department_name_' + department.id">Name</label>
          <input [(ngModel)]="department.name" type="text" class="form-control" [id]="'department_name_' + department.id" [name]="'department_name_' + department.id" placeholder="Name">
        </div>
      </td>
      <td>
        <div class="col-12">
          <label class="visually-hidden" [for]="'department_location_' + department.id">Location</label>
          <input [(ngModel)]="department.location" type="text" class="form-control" [id]="'department_location_' + department.id" [name]="'department_location_' + department.id" placeholder="Location">
        </div>
      </td>
      <td>
        <button (click)="save(department)" class="btn btn-success">Save</button>
      </td>
    </ng-container>
  </tr>
  </tbody>
</table>
